* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
     outline: 1px solid red; 
}

/* border v/s outline */
:root {
    --red: red;
    --purple: purple;
    --fs-56: 56px;
    --fs-40: 40px;
    --fs-30: 30px;
}
.fs-56{
    font-size: var(--fs-56);
}
.fs-40{
    font-size: var(--fs-40);
}
.fs-30{
    font-size: var(--fs-30);
}

@media(min-width:992px){
    :root {
        --fs-56: 40px;
    }
}
@media(max-width:500px){
    :root {
        --fs-40: 30px;
    }
}
@media(min-width:700px){
    :root {
        --fs-30: 20px;
    }
}
        
       